.uploadButton {
    display: flex;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    padding: 15px 40px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.uploadButton:hover {
    background-color: black;
    color: white;
}

.uploadButton:active {
    background-color:gray;
}